@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=New+Amsterdam&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
    margin: 50px 0;
}

.content h2 {
    margin: 30px 20px;
    font-family: new amsterdam;
    font-size: 40px;
    font-weight: 300;
    color: rgb(233, 0, 116);
    text-align: center;
}

.content form {
    width: 30%;
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    font-family: rajdhani;
    font-size: 25px;
    border-radius: 10px;
}

.content form select {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.content form select option{
    padding: 0;
    font-size: 15px;
    width: 80%;
}

.content form button {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: rajdhani;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.8);
    border: 3px solid rgb(233, 0, 116);
    color: rgb(233, 0, 116);
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.content form button:hover {
    background: rgb(233, 0, 116);
    color: white;
}

@media (max-width : 768px) {
    .content form {
        width: 70%;
    }
}